* {
    box-sizing: border-box;
}
:root{
    --color-fondo-naranja: #f5a500;
    --color-fondo-marron: #a52a2a;
    --color_titulo: #807ffe;
    --text-color-white: #f5f5dc;
    --text-color-black: #000;
    --color-fondo-ubicacion: #e4e4f0;
    --color-fondo-prevision: #b3b3cd;
    --color-fondo-prevision-header: #6269a0;
    --color-fondo-footer: #1d4d8f;

}
/*************** body****************/

body{
    margin: 0;
    padding: 0;
    
}

.container{
   width: 90%;
   max-width: 800px;
    margin: auto;
}
/*************** HEADER****************/

header{
    width: 100%;
    height: 15%;
    background-color: var(--color-fondo-naranja);
    display: flex;
    justify-content: center;
    position: fixed;
}

.nav{
   width:35%;
   height:100%;
   border:1px solid white;
}
.nav ul li{
    list-style-type: none;
    width: 15px;
}
.logo{
    width: 35%;
    height: 100%;
    padding: 1px;
    border: 1px solid blue;
}

.logo img{
    height: 50px;

}

/****************************************main**********/
main{
    background-color: var(--color-fondo-marron);
    display: flex;
    justify-content: center;
    height: 900px;
}
.banner_fondo{
    background-image: url(..img/header.jpeg);
    width: 100%;
    height: 30%;
}
.texto_presentacion{
    width: 100%;
    height: 90%;   
    margin: 5px; 
    color: white;
}

/*****************table_votos****************/
.article_table_votos{
    width: 100%;
    height: 55%;
    background-color: #b9854d;
}
.article_table_votos img{
height: 17px;

}
.article_table_votos table{
    width: 80%;
    margin: -20px auto 0 auto;
    border-spacing: 0;
}

.franja{
    background-color: forestgreen;
    height: 10%;
}

.article_table_votos th{
    color: #fff;
    text-align: left;
    border-bottom: 1px solid #fff;
    padding: 1px;
    
}

.article_table_votos td{
    border-bottom: 1px solid #111111;
    height: 25px;
}

footer {
    background-color: var(--color-fondo-marron);
    color: var(--text-color-white);
    text-align: center;
    font-size: 1.4rem;
}