* {
    box-sizing: border-box;
}
:root{
    --color-fondo-naranja: #f5a500;
    --color-fondo-marron: #9e5d5d;
    --color_titulo: #807ffe;
    --text-color-white: #f5f5dc;
    --text-color-black: #000;
    --color-fondo-ubicacion: #e4e4f0;
    --color-fondo-prevision: #b3b3cd;
    --color-fondo-prevision-header: #6269a0;
    --color-fondo-footer: #1d4d8f;

}
/*************** body****************/

body{
    margin: 0;
    padding: 0;
    
}

/*************** HEADER****************/

header{
    height: 10%;
    position: fixed;
    background-color: var(--color-fondo-naranja);
}

.container{
    width: 80%;
   
}
.nav{
   width:35%;
   height:100%;
   border:1px solid white;
}
.nav ul li{
    list-style-type: none;
    width: 15px;
}
.logo{
    width: 35%;
    height: 100%;
    padding: 1px;
    border: 1px solid blue;
}

.logo img{
    height: 50px;

}

/****************************************main**********/
main{
    background-color: var(--color-fondo-marron);
     width: 100%;
     height: auto;
}
/************************section BANNER FONDO**********/
.banner_fondo{
    background-image: url(..img/header.jpg);
    width: 100%;
    height: 40%;
    border: 1px solid white;
}
.texto_presentacion{
    width: 70%;
    height: 70%;   
    margin-top: 10%; 
    color: white;
    border: 1px solid red   ;
}
/**************************section habilidades**********/
.poderes-habilidades{
    width: 100%;
    height: 30%;
    border : 1px green;

}

/*****************section galeria pokemones****************/
.galeria-pokemones{
    width: 100%;
    height: 30%;
    border: 1px solid orange;
}
